
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alexandre Villares</title>
    <link rel="stylesheet" href="https://abav.lugaralgum.com/assets/css/style.css">
    <link rel="stylesheet" href="https://abav.lugaralgum.com/assets/css/syntax.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata" media="all"> 
  </head>
  <body>
<h1><a href="https://abav.lugaralgum.com/material-aulas" style="font-family: inconsolata, monospace">Introdução à programação <br>com Processing Modo Python</a></h1>
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <div class="container">
      </div>
    </footer>
    <script>
	function iframeFix(aId, divId) {
	  const $a = document.getElementById(aId);
	  const $div = document.getElementById(divId);
	  const renderIframe = (img = {}) => {
	    const w = img.naturalWidth || 100;
	    const h = img.naturalHeight || 100;
	    $div.innerHTML = `<iframe src="${$a.href}" frameborder=0 width="${w}" height="${h}"></iframe>`;
	  };
	  if ($a !== null && $div !== null) {
	    let img = $div.querySelector("img");
	    if (img) {
	      if (img.complete) {
	        renderIframe(img);
	      } else {
	        img.addEventListener("load", () => renderIframe(img));
	      }
	    } else {
	      renderIframe();
	    }
	  $a.innerHTML = ""	
	  }
	}

	iframeFix("iframe_A", "iframe_DIV");
    </script>
    <script src="https://abav.lugaralgum.com/assets/scripts.js"></script>
  </body>
</html>
